*{
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
.box{
    height: 50%;
    width: 50%;
    border-top: 3px solid cornflowerblue;
    border-bottom: 3px solid chartreuse;
    border-left: 3px solid crimson;
    border-right: 3px solid black;
background-color: blueviolet;
    border-radius: 10px;
}
.box h1 {
    color: rgb(4, 8, 7);  
    text-align: center;
    
    font-family: cursive;
    font-weight: 350;
    font-size: 15px;
    width: 95%;
    background-color: blueviolet;
    

}